@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.application_list {
  min-height: 100px !important;
}

/* Apply the styles to the entire document */
body::-webkit-scrollbar {
  width: 6px; 
}

/* Change the color of the track */
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Change the appearance of the thumb (the draggable part) */
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; 
}

/* On hover, make the thumb darker */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.screen {
  height: 100vh;
}